//- .sideform
//-   .horizontal-red 
//-   .vertical-red-left 
//-   .menu
//-     .noise
//-     .form-container
//-   .vertical-red-right
//-   .horizontal-red-bottom 








//- .sideform
//-   .form-container
//-     <svg class="form-btn-close js-close" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
//-     <circle cx="23" cy="23" r="23"/>
//-     <path d="M28 28L18 18M18 28L28 18L18 28Z"/>
//-     </svg>

//-     h4.header-form-title Замовити дзвінок
//-     p.header-form-text Якщо у вас виникли питання, залиште свій номер і ми передзвонимо вам:
//-     form(data-form-homepage autocomplete="off")
//-       .form-field.form-field-input(data-field-input data-field-name data-status="field--inactive")
//-         .form-field-message
//-         input(type='text' name="name" placeholder="Ім`я*").form-field__input
//-         .input-message(data-input-message="") 

//-       .form-field.disabled.form-field-input(data-field-input data-field-phone data-status="field--inactive")
//-         .form-field-message
//-         input(type='text' name="phone" placeholder="Телефон*" inputmode="tel").form-field__input.input-tel-pop-up 
//-         span.place-holder-pop-up Телефон*
//-         .mask-absolute.js-mask-absolute
//-         .input-message( data-input-message="")
//-         button( type="submit" data-btn-submit="data-btn-submit").form-btn
//-           span(data-btn-submit-text="data-btn-submit-text").form-btn-text Надіслати


//- .backdrop
//-   .modal-group.submit
//-     <svg class="form-btn-close btn-submit-close js-submit-close" width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
//-       <circle cx="23" cy="23" r="23"/>
//-       <path d="M28 28L18 18M18 28L28 18L18 28Z"/>
//-     </svg>
        
//-     h2.header-form-title.header-submit-title Заявка прийнята
//-     span.header-form-text Дякуємо за звернення! Очікуйте на дзвінок від менеджера.
//-     span.header-form-text Бажаємо приємного дня та гарного настрою!)
//-     a(href='#').form-btn
//-       span.form-btn-text На головну
    