.sideform {
  width: 100vw;
  height: 100vh;
  background: white;
  // position: absolute;
  position: fixed;
  z-index: 200;
  top: 0;
  // right: -50vw;
  // transition: right 1s 0.3s;
  // right: -100%;
  // visibility: hidden;
  transition: all 1s ease-in-out;
  // @include to(850px) {
  //   width: 100vw;
  //   right: -100vw;
  // }

  display: grid;
  grid-template-rows: 30px auto 30px; /* 3 строки */
  grid-template-columns: 30px auto 30px; /* 3 столбца */
  margin-top: 80px;
  height: calc(100vh - 80px);
  .horizontal-red {
    grid-column: 2/3;
    grid-row: 1;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .vertical-red-left {
    grid-column: 1/1;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 1px);
    margin-left: -1px;
    height: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .form-container {
    grid-column: 1/-1;
    grid-row: 1/-1;
    position: relative;
    overflow: hidden;
  }
  .vertical-red-right {
    grid-column: 3/3;
    grid-row: 2;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    margin-top: -1px;
  }
  .horizontal-red-bottom {
    grid-column: 2/3;
    grid-row: 3;
    background: $white;
    border: 1px solid #ff2800;
    z-index: 5;
    width: calc(100% + 2px);
    margin-left: -1px;
  }
  .noise {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -3;
    background-image: url(../images/noise.png);
    animation: Noise_grain 7s steps(10) infinite;
    height: 300%;
    left: -50%;
    top: -100%;
    width: 300%;
  }
  .form {
    padding: 150px 187px 0 187px;
  }
  .form-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    h1 {
      font-family: $default-font2;
      font-size: 180px;
      line-height: 100%;
      color: #000000;

      display: inline-grid;
      grid-template-areas: 'text';
      text-transform: uppercase;

      span {
        background: #000000;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.9);
      }

      & > *,
      &::after {
        grid-area: text;
      }

      &::after {
        content: attr(data-text);
        transform: translate(10px, 10px);
      }

      &::after {
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 2px #000000;
        z-index: -2;
      }
    }
    .input-sideform {
      width: 760px;
      height: 100px;
      margin-bottom: 30px;
    }
  }
}

// .sideform-active {
//   // right: 0;
//   // transition: right 1s;
//   right: 0;
//   transform: translateX(0);
//   visibility: visible;
// }
// .form-container {
//   // background: linear-gradient(135.43deg, #efefef 0%, #e9e2de 99.99%, #e9e2de 100%);
//   position: relative;
//   // padding: 80px 170px 90px 150px;
//   // width: 100%;
//   // height: 100%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;
//   width: 53%;
//   height: 100vh;
//   margin: 0 auto 0 150px;
//   @include to(575px) {
//     margin: 0 35px;
//     width: 85%;
//   }
// }
// .form-btn-close {
//   position: absolute;
//   width: 60px;
//   height: 60px;
//   fill: $white;
//   top: 10%;
//   // right: 50px;
//   right: -150px;
//   transition: all 0.4s ease-in-out;
//   cursor: pointer;
//   @include to(1440px) {
//     width: 46px;
//     height: 46px;
//     right: -80px;
//   }
//   @include to(575px) {
//     width: 36px;
//     height: 36px;
//     right: 0;
//   }
//   & path {
//     stroke: $main-text;
//   }
//   &:hover {
//     transform: rotate(90deg);
//   }
// }
// .header-form-title {
//   font-weight: 300;
//   font-size: 48px;
//   line-height: 1.4;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;
//   color: $main-text;
//   width: 60%;
//   @include to(1440px) {
//     font-size: 36px;
//     line-height: 1.2;
//   }
//   @include to(575px) {
//     font-size: 24px;
//     line-height: 1.4;
//   }
// }

// .header-form-text {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.8;
//   letter-spacing: 0.05em;
//   text-transform: uppercase;
//   color: #88889d;
//   width: 80%;
//   padding-top: 50px;
//   @include to(1440px) {
//     font-size: 14px;
//     line-height: 1.8;
//     padding-top: 30px;
//   }
//   @include to(575px) {
//     font-size: 12px;
//     line-height: 1.4;
//     padding-top: 20px;
//     width: 75%;
//   }
// }
// // .input-message {
// //   font-size: 14px;
// //   text-transform: uppercase;
// //   color: $main-text;
// //   // padding-top: 60px;
// // }
// // [data-animation='none'] .form-field__input .header-form {
// //   border: none;
// //   width: 340px;
// //   height: 60px;
// //   border-bottom: 1px solid #d5d5e2;
// //   background: none;
// // }
// .form-field-message.form-field-message-name,
// .form-field-message.form-field-message {
//   font-size: 14px;
//   text-transform: uppercase;
//   color: #555568;
//   opacity: 1;
//   position: absolute;
//   transform: translateY(calc(-100% - 50px));
// }
// .form-btn {
//   border: none;
//   box-shadow: none;
//   width: 300px;
//   height: 60px;
//   background: $pink;
//   color: $white;
//   font-size: 14px;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   letter-spacing: 0.15em;
//   text-transform: uppercase;
//   margin-top: 80px;
//   @include to(1440px) {
//     margin-top: 70px;
//     width: 230px;
//     height: 50px;
//     font-size: 12px;
//   }
//   @include to(575px) {
//     margin-top: 30px;
//     width: 250px;
//     height: 50px;
//     font-size: 14px;
//   }
// }
// /**********************************/
// /*
// * input start
// */
// form {
//   --input-padding: 23px;
//   // width: 100%;
// }
// // .form-field__input {
// //   &:focus ~ svg {
// //     opacity: 0;
// //   }
// //   &:visited ~ svg {
// //     opacity: 0;
// //   }
// // }
// .form-label {
//   font-weight: 400;
//   font-size: 22px;
//   line-height: 140%;
//   color: #cfa46e;
//   @include to(1440px) {
//     font-size: 16px;
//   }
//   @include to(992px) {
//     font-size: 20px;
//   }
//   @include to(576px) {
//     font-size: 12px;
//   }
// }

// .form-field:not(#t) {
//   position: relative;
//   margin: 60px 0 0;
//   background: none;
//   // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
//   transition: all 0.3s;

//   width: 600px;
//   @include to(1440px) {
//     margin: 60px 0 0;
//   }

//   @include to(768px) {
//     margin: 40px 0 0 0;
//     width: 560px;
//   }
//   @media screen and (max-width: 575px) {
//     width: 100%;
//     max-width: 350px;
//     margin-top: 35px;
//   }
//   //  @include to(576px) {
//   //   margin: 20px 0 0 0;
//   //   width: 240px;
//   // }

//   [data-animation='focus'] .input-message {
//     position: absolute;
//     top: 50%;
//     left: var(--input-padding);
//     z-index: 3;
//     padding: 0 7px;
//     display: flex;
//     font-weight: 500;
//     font-size: 14px;
//     transform: translate(0%, -50%);
//     user-select: none;
//     pointer-events: none;
//     background-color: #8e8e8e;
//     transition: all 0.16s cubic-bezier(0, 0, 0.2, 1) 0ms;
//   }

//   /*  */
//   .form-field-input {
//     display: flex;
//     align-items: flex-start;
//     width: 100%;
//     height: 60px;
//     @include to(1440px) {
//       height: 40px;
//     }
//     @include to(992px) {
//       height: 55px;
//     }
//     @include to(576px) {
//       height: 35px;
//     }
//   }
//   .input-message {
//     font-size: 10px;
//     color: #d03535;
//   }

//   .form-field__input {
//     background: none;
//     border: none;
//     // width: 440px;
//     // height: 70px;
//     border-bottom: 1px solid #d5d5e2;
//     width: 50%;
//     padding-bottom: 40px;
//     // font-size: 20px;
//     // font-size: min(vw(20, 1920), 22px);
//     // color: #212124;
//     font-weight: 600;
//     font-size: 16px;
//     line-height: 100%;
//     text-transform: uppercase;
//     color: #555568;
//     @include to(1440px) {
//       // width: 340px;
//       // height: 70px;
//       font-size: 14px;
//       padding-bottom: 30px;
//     }
//     // @include to(768px) {
//     //   font-size: 18px;
//     //   width: 560px;
//     //   height: 70px;
//     //   padding-left: 30px;
//     // }
//     @include to(575px) {
//       width: 100%;
//     }

//     &::placeholder {
//       // color: #ffffff;
//       // font-size: 18px;
//       // line-height: 1.6;
//       font-weight: 600;
//       font-size: 16px;
//       line-height: 100%;
//       text-transform: uppercase;
//       color: #555568;
//       // color: red;
//     }
//     &:focus + .form-field-message {
//       opacity: 1;
//     }
//   }

//   .main-button {
//     margin: 60px 0 0 auto;
//     display: flex;
//     align-items: center;
//     font-family: $default-font;
//     font-weight: 600;
//     font-size: 28px;
//     line-height: 1em;
//     color: #cfa46e;
//     border: none;
//     background: none;
//     white-space: nowrap;
//     text-decoration: none;
//     @include to(1440px) {
//       margin: 40px 0 0 auto;
//       font-size: 20px;
//       line-height: 1.2em;
//     }
//     @include to(992px) {
//       margin: 50px 0 0 auto;
//       font-size: 28px;
//       line-height: 1em;
//     }
//     @include to(576px) {
//       margin: 30px 0 0 auto;
//       font-size: 14px;
//     }

//     &__arrow {
//       display: flex;
//       width: 70px;
//       height: 13px;
//       margin: 0 0 0 50px;
//       svg {
//         height: 100%;
//         fill: #cfa46e;
//       }
//       @include to(1440px) {
//         width: 50px;
//         height: 9px;
//         margin: 0 0 0 20px;
//       }
//       @include to(992px) {
//         margin: 0 0 0 30px;
//       }
//       @include to(576px) {
//         width: 34px;
//         height: 6px;
//         margin: 0 0 0 20px;
//       }
//     }
//   }

//   .mask-absolute {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 65px;
//     // height: 100%;
//     z-index: 10;
//     background-color: red;
//     opacity: 0;
//     @include to(1440px) {
//       width: 45px;
//     }
//     @include to(576px) {
//       width: 35px;
//     }
//   }

//   [data-animation='focus'] .form-field__input {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     font-weight: 500;
//     font-size: max(vh(16), 16px);
//     color: #000;
//     text-indent: var(--input-padding);
//     background-color: transparent;
//     border: none;
//     @include to(1440px) {
//       font-size: 14px;
//     }
//   }
//   [data-animation='none'] .form-field__input {
//     padding: 0;
//     width: 100%;
//     border: none;
//     font-size: max(vh(16), 16px);
//     @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//       font-size: vw(16);
//     }
//     @include to(1440px) {
//       font-size: 20px;
//     }
//     @include to(576px) {
//       font-size: 14px;
//     }
//   }

//   [data-animation='none'] .input-message {
//     position: absolute;
//     left: 0;
//     bottom: -6px;
//     display: flex;
//     width: 100%;
//     min-height: 12px;
//     font-size: max(vh(14), 14px);
//     line-height: 100%;
//     transform: translate(0%, 100%);
//     @include to(1440px) {
//       font-size: 12px;
//     }
//     @include to(576px) {
//       font-size: 10px;
//     }
//   }

//   [data-field-input][data-status='field--inactive']:not(#r) {
//     .input-message {
//       color: #fff;
//     }
//   }

//   [data-field-input][data-status='field--active']:not(#r) {
//     border-color: $mc;
//     .input-message {
//       color: $mc;
//     }
//   }

//   [data-field-input][data-status='field--error']:not(#r) {
//     border-color: #ea4041;
//     .input-message {
//       color: #ea4041;
//     }
//   }

//   [data-field-input][data-status='field--success']:not(#r) {
//     border-color: #96c480;
//     .input-message {
//       color: #96c480;
//     }
//   }

//   .selected:not(#f) .input-message {
//     top: 0;
//     font-size: 10px;
//   }

//   /*
// * input end
// */
//   /**********************************/

//   .requaired-block {
//     &-ico {
//       width: 25px;
//       height: 25px;

//       svg {
//         width: 100%;
//         height: 100%;
//       }
//     }
//   }
//   .requaired-block {
//     &__ico {
//       width: 25px;
//       height: 25px;

//       svg {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     &__text {
//       font-size: vw(16);
//       line-height: 170%;
//       margin: 0px vw(18);
//       white-space: nowrap;

//       color: #bbbec2;
//       @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//         font-size: vw(16);
//         line-height: 1.4em;
//       }
//       @include to(1440px) {
//         font-size: 12px;
//         margin: 0px 15px;
//       }
//     }
//   }

//   // .form-textarea:not(#t) .form-field__input:focus + .form-field-message {
//   //     opacity: 1;
//   // }

//   // .form-textarea:not(#t) .form-field-message {
//   //     position: absolute;
//   //     top: 0;
//   //     opacity: 0;
//   //     transform: translateY(calc(0% - 5px));
//   //     left: 25px;
//   //     background: #fcfcfc;
//   //     padding: 0 5px;
//   //     color: #878787;
//   // }

//   .form-textarea {
//     position: relative;
//     margin: 82px 0 0 0;
//     @include to(1440px) {
//       margin: 40px 0 0 0;
//     }
//     @include to(992px) {
//       margin: 50px 0 0 0;
//     }
//     @include to(576px) {
//       margin: 30px 0 0 0;
//     }
//     textarea {
//       // padding: 0;
//       // height: 115px;
//       // width: 100%;
//       // display: flex;
//       // background: none;
//       // font-size: 28px;
//       // line-height: 100%;
//       // color: #FFFFFF;
//       // border: none;
//       // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
//       width: 370px;
//       height: 80px;
//       margin-top: 29px;
//       padding-left: 25px;
//       padding-top: 20px;
//       border: 1px solid #dbdbdb;

//       @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//         font-size: vw(28);
//       }
//       @include to(1440px) {
//         height: 73px;
//         font-size: 20px;
//         line-height: 120%;
//       }
//       @include to(992px) {
//         height: 134px;
//         font-size: 24px;
//         line-height: 140%;
//       }
//       @include to(576px) {
//         height: 74px;
//         font-size: 14px;
//         line-height: 100%;
//       }
//       &::placeholder {
//         color: #ffffff;
//       }
//       &:focus + .form-field-message {
//         opacity: 1;
//       }
//     }
//   }

//   .form-field-message {
//     position: absolute;
//     top: 0;
//     opacity: 0;
//     // font-size: 12px;
//     // line-height: 120%;
//     // color: #828282;
//     // transform: translateY(calc(-100% - 10px));
//     //margin: 10px 0 0 0;
//     transform: translateY(calc(0% - 5px));
//     // left: 19px;
//     // background: #fcfcfc;
//     // padding: 0 7px;
//     color: #555568;
//     font-size: 10px;
//     // text-transform: none;
//     // text-transform: none;
//     @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1326px) {
//       // font-size: 11px;
//       font-size: 14px;
//     }
//     @include to(1440px) {
//       //margin: 10px 0 0 0;
//       font-size: 10px;
//       // text-transform: none;
//     }
//     @include to(576px) {
//       font-size: calc(10px + 0.5vw);
//       left: 13px;
//     }
//     @include to(380px) {
//       font-size: 10px;
//       left: 13px;
//     }
//   }

//   .requaired-block-ico--position {
//     position: absolute;
//     top: 0;
//     right: 0;
//     pointer-events: none;
//   }
// }

// .form-textarea:not(#t) {
//   position: relative;
//   margin: 0px 0 0;
//   background: none;
//   border-bottom: 1px solid rgba(255, 255, 255, 0.5);

//   transition: all 0.3s;
//   @include to(1440px) {
//     margin: 0px 0 0;
//   }
//   @include to(992px) {
//     margin: 0px 0 0;
//   }
//   @include to(576px) {
//     margin: 0px 0 0;
//     width: 100%;
//     max-width: 350px;
//   }

//   [data-animation='focus'] .input-message {
//     position: absolute;
//     top: 50%;
//     left: var(--input-padding);
//     z-index: 3;
//     padding: 0 7px;
//     display: flex;
//     font-weight: 500;
//     font-size: 14px;
//     transform: translate(0%, -50%);
//     user-select: none;
//     pointer-events: none;
//     background-color: #8e8e8e;
//     transition: all 0.16s cubic-bezier(0, 0, 0.2, 1) 0ms;
//   }

//   /*  */
//   .form-field-input {
//     display: flex;
//     align-items: flex-start;
//     width: 100%;
//     height: 60px;
//     @include to(1440px) {
//       height: 40px;
//     }
//     @include to(992px) {
//       height: 55px;
//     }
//     @include to(576px) {
//       height: 35px;
//     }
//   }
//   .input-message {
//     font-size: 11px;
//     line-height: 1.6;
//     color: #ed1c24;
//     padding-left: 0px;
//     //  @include to(576px) {
//     //  padding-left: 0px;
//     // }
//   }
//   .form-field__input {
//     // width: 100%;
//     // font-size: 28px;
//     // line-height: 120%;
//     // background: none;
//     // border: none;
//     // color: #FFFFFF;
//     width: 470px;
//     height: 100px;
//     border: 1px solid #dbdbdb;
//     padding-left: 30px;
//     &::placeholder {
//       font-size: 18px;
//       line-height: 1.6;
//       color: #1d1d27;
//     }
//     @include to(1326px) {
//       width: 370px;
//       height: 80px;
//       border: 1px solid #dbdbdb;
//       padding-left: 25px;
//       font-size: 14px;
//     }
//     @include to(768px) {
//       font-size: 18px;
//       width: 560px;
//       height: 100px;
//       border: 1px solid #dbdbdb;
//       padding-left: 30px;
//     }
//     @include to(576px) {
//       font-size: 12px;

//       width: 100%;

//       height: calc(80px + 2vh);
//       border: 1px solid #dbdbdb;
//       padding-left: 20px;
//     }
//     @include to(380px) {
//       font-size: 12px;
//       width: 240px;
//       height: 80px;
//       border: 1px solid #dbdbdb;
//       padding-left: 20px;
//     }
//     &::placeholder {
//       // color: #ffffff;
//       font-size: 14px;
//       line-height: 1.6;
//       color: #878787;
//     }
//     &:focus + .form-field-message {
//       opacity: 1;
//     }
//   }
//   .main-button {
//     margin: 60px 0 0 auto;
//     display: flex;
//     align-items: center;
//     font-family: $default-font;
//     font-weight: 600;
//     font-size: 28px;
//     line-height: 1em;
//     color: #cfa46e;
//     border: none;
//     background: none;
//     white-space: nowrap;
//     text-decoration: none;
//     @include to(1440px) {
//       margin: 40px 0 0 auto;
//       font-size: 20px;
//       line-height: 1.2em;
//     }
//     @include to(992px) {
//       margin: 50px 0 0 auto;
//       font-size: 28px;
//       line-height: 1em;
//     }
//     @include to(576px) {
//       margin: 30px 0 0 auto;
//       font-size: 14px;
//     }

//     &__arrow {
//       display: flex;
//       width: 70px;
//       height: 13px;
//       margin: 0 0 0 50px;
//       svg {
//         height: 100%;
//         fill: #cfa46e;
//       }
//       @include to(1440px) {
//         width: 50px;
//         height: 9px;
//         margin: 0 0 0 20px;
//       }
//       @include to(992px) {
//         margin: 0 0 0 30px;
//       }
//       @include to(576px) {
//         width: 34px;
//         height: 6px;
//         margin: 0 0 0 20px;
//       }
//     }
//   }

//   .mask-absolute {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 65px;
//     height: 100%;
//     z-index: 10;
//     background-color: red;
//     opacity: 0;
//     @include to(1440px) {
//       width: 45px;
//     }
//     @include to(576px) {
//       width: 35px;
//     }
//   }

//   [data-animation='focus'] .form-field__input {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     font-weight: 500;
//     font-size: max(vh(16), 16px);
//     color: #000;
//     text-indent: var(--input-padding);
//     background-color: transparent;
//     border: none;
//     @include to(1440px) {
//       font-size: 14px;
//     }
//   }
//   [data-animation='none'] .form-field__input {
//     padding: 0;
//     width: 100%;
//     border: none;
//     font-size: max(vh(16), 16px);
//     @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//       font-size: vw(16);
//     }
//     @include to(1440px) {
//       font-size: 20px;
//     }
//     @include to(576px) {
//       font-size: 14px;
//     }
//   }

//   [data-animation='none'] .input-message {
//     position: absolute;
//     left: 0;
//     bottom: -6px;
//     display: flex;
//     width: 100%;
//     min-height: 12px;
//     font-size: max(vh(14), 14px);
//     line-height: 100%;
//     transform: translate(0%, 100%);
//     @include to(1440px) {
//       font-size: 12px;
//     }
//     @include to(576px) {
//       font-size: 10px;
//     }
//   }

//   [data-field-input][data-status='field--inactive']:not(#r) {
//     .input-message {
//       color: #fff;
//     }
//   }

//   [data-field-input][data-status='field--active']:not(#r) {
//     border-color: $mc;
//     .input-message {
//       color: $mc;
//     }
//   }

//   [data-field-input][data-status='field--error']:not(#r) {
//     border-color: #ea4041;
//     .input-message {
//       color: #ea4041;
//     }
//   }

//   [data-field-input][data-status='field--success']:not(#r) {
//     border-color: #96c480;
//     .input-message {
//       color: #96c480;
//     }
//   }

//   .selected:not(#f) .input-message {
//     top: 0;
//     font-size: 10px;
//   }

//   /*
// * input end
// */
//   /**********************************/

//   .requaired-block {
//     &-ico {
//       width: 25px;
//       height: 25px;

//       svg {
//         width: 100%;
//         height: 100%;
//       }
//     }
//   }
//   .requaired-block {
//     &__ico {
//       width: 25px;
//       height: 25px;

//       svg {
//         width: 100%;
//         height: 100%;
//       }
//     }

//     &__text {
//       font-size: vw(16);
//       line-height: 170%;
//       margin: 0px vw(18);
//       white-space: nowrap;

//       color: #bbbec2;
//       @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//         font-size: vw(16);
//         line-height: 1.4em;
//       }
//       @include to(1440px) {
//         font-size: 12px;
//         margin: 0px 15px;
//       }
//     }
//   }

//   .form-textarea {
//     position: relative;
//     margin: 82px 0 0 0;
//     @include to(1440px) {
//       margin: 40px 0 0 0;
//     }
//     @include to(992px) {
//       margin: 50px 0 0 0;
//     }
//     @include to(576px) {
//       margin: 30px 0 0 0;
//     }
//     textarea {
//       // padding: 0;
//       // height: 115px;
//       // width: 100%;
//       // display: flex;
//       // background: none;
//       // font-size: 28px;
//       // line-height: 100%;
//       // color: #FFFFFF;
//       // border: none;
//       // border-bottom: 1px solid rgba(255, 255, 255, 0.5);
//       width: 370px;
//       height: 80px;
//       margin-top: 29px;
//       padding-left: 25px;
//       padding-top: 20px;
//       border: 1px solid #dbdbdb;

//       @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1440px) {
//         font-size: vw(28);
//       }
//       @include to(1440px) {
//         height: 73px;
//         font-size: 20px;
//         line-height: 120%;
//       }
//       @include to(992px) {
//         height: 134px;
//         font-size: 24px;
//         line-height: 140%;
//       }
//       @include to(576px) {
//         height: 74px;
//         font-size: 14px;
//         line-height: 100%;
//       }
//       &::placeholder {
//         color: #ffffff;
//       }
//       &:focus + .form-field-message {
//         opacity: 1;
//       }
//     }
//   }

//   .form-field-message {
//     position: absolute;
//     top: 0;
//     opacity: 0;
//     font-size: 14px;
//     // left: 30px;
//     transform: translateY(calc(100% + 19px));
//     left: 25px;
//     // transform: translateY(calc(100% + 9px));
//     // font-size: 12px;
//     // line-height: 120%;
//     // color: #828282;
//     // transform: translateY(calc(-100% - 10px));
//     //margin: 10px 0 0 0;

//     background: #fcfcfc;
//     padding: 0 7px;
//     color: #878787;
//     @media (-webkit-min-device-pixel-ratio: 2) and (min-width: 1326px) {
//       left: 25px;
//       transform: translateY(calc(100% + 19px));
//     }
//     @include to(1326px) {
//       //margin: 10px 0 0 0;
//       font-size: 11px;
//       transform: translateY(calc(0% + 12px));
//       left: 19px;
//     }
//     @include to(576px) {
//       font-size: 10px;
//       left: 13px;
//     }
//     @media (max-width: 1919px) and (min-width: 1327px) {
//       transform: translateY(calc(100% + 12px));
//       left: 25px;
//     }
//   }
//   .requaired-block-ico--position {
//     position: absolute;
//     top: 0;
//     right: 0;
//     pointer-events: none;
//   }
// }

// .form-textarea:not(#t) textarea.form-field__input::placeholder {
//   // color: red;
//   font-size: 14px;
// }
// .form-field:not(#t) .form-field-message-name {
//   opacity: 1;
//   // transform: translateY(calc(0% - 5px));
//   // left: 25px;
//   top: 24px;
//   font-size: 14px;
//   transition: 0.3s ease-in-out;
//   pointer-events: none;
// }
// .form-field:not(#t) .form-field-message-text {
//   opacity: 1;
//   // transform: translateY(calc(0% - 5px));
//   left: 25px;
//   top: 38px;
//   font-size: 14px;
//   transition: 0.3s ease-in-out;
//   pointer-events: none;
// }
// .form-field:not(#t):focus-within .form-field-message-name,

// //  .form-field:not(#t) .form-field-message-name,
//  .form-field:not(#t)[data-status='field--success'] .form-field-message-name,
//  .form-field:not(#t) textarea:not(:placeholder-shown)~.form-field-message-text {
//   position: absolute;
//   top: 0;
//   opacity: 1;
//   transform: translateY(calc(0% - 5px));
//   color: #555568;
//   font-size: 10px;
//   text-transform: none;
// }
// .form-field-message.form-field-message-phone {
//   position: absolute;
//   top: 0;
//   opacity: 1;
//   transform: translateY(calc(0% - 5px));
//   color: #555568;
//   font-size: 10px;
//   text-transform: none;
// }
// .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text {
//   position: absolute;
//   top: 0;
//   opacity: 1;
//   transform: translateY(calc(0% + 23px));
//   left: 19px;
//   background: #fcfcfc;
//   padding: 0 7px;
//   color: #878787;
//   font-size: 11px;
// }
// // .form-field:not(#t) textarea:not(:placeholder-shown)~.form-field-message-text {

// // }
// .form-textarea:not(#t):focus-within .form-field-message-text,
// //  .form-field:not(#t) .form-field-message-name,
//  .form-textarea:not(#t).form-field-message-text {
//   position: absolute;
//   top: 0;
//   opacity: 1;
//   transform: translateY(calc(0% + 23px));
//   left: 19px;
//   background: #fcfcfc;
//   padding: 0 7px;
//   color: #878787;
//   font-size: 11px;
// }

// @media screen and (max-width: 768px) {
//   .form-textarea:not(#t) textarea.form-field__input::placeholder {
//     font-size: 14px;
//   }
//   .form-field:not(#t) .form-field-message-name {
//     opacity: 1;
//     // left: 25px;
//     // top: 45%;
//     top: 1.2em;
//     // font-size: 18px;
//     transition: 0.3s ease-in-out;
//     pointer-events: none;
//   }
//   .form-field:not(#t) .form-field-message-text {
//     top: 38px;
//   }
//   .form-field:not(#t) .form-field-message-name,
//   .form-field:not(#t) .form-field-message-text {
//     font-size: 18px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name,
//   .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text {
//     left: 0;
//   }
// }

// @media screen and (max-width: 768px) {
//   .form-field:not(#t) .form-field-message-name {
//     top: 1.7em;
//   }
// }

// //  @media screen and (min-width: 1326px) {
// // .form-field:not(#t) .form-field-message-name, .form-field:not(#t) .form-field-message-text {
// //     font-size: 14px;
// //     top: 1.5em;
// // }
// // }
// @media screen and (max-width: 767px) and (min-width: 575px) {
//   .form-field:not(#t) .form-field-message-name {
//     // font-size: 14px;
//     font-size: 18px;
//     top: 31px;
//   }
//   textarea::placeholder {
//     font-size: 18px;
//   }
// }

// @media screen and (max-width: 575px) {
//   .form-textarea:not(#t) textarea.form-field__input::placeholder {
//     // color: red;
//     // font-size: 12px;
//     font-size: calc(12px + 1vw);
//   }
//   .form-field:not(#t) .form-field-message-name,
//   .form-field:not(#t) .form-field-message-text {
//     // font-size: 12px;
//     font-size: calc(12px + 1vw);
//     left: 20px;
//     top: 22px;
//   }
//   .form-field:not(#t) .form-field-message-text {
//     top: 32px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name {
//     left: 13px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name,
//   .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text {
//     // font-size: 10px;
//     padding-left: 10px;
//     font-size: calc(10px + 0.5vw);
//   }
//   .form-textarea:not(#t):focus-within .form-field-message-text,
//   .form-textarea:not(#t).form-field-message-text {
//     left: 15px;
//     font-size: calc(10px + 0.5vw);
//   }
// }

// @media screen and (max-width: 380px) {
//   .form-textarea:not(#t) textarea.form-field__input::placeholder {
//     // color: red;
//     font-size: 12px;
//   }
//   .form-field:not(#t) .form-field-message-name,
//   .form-field:not(#t) .form-field-message-text {
//     font-size: 12px;
//     left: 20px;
//     top: 22px;
//   }
//   .form-field:not(#t) .form-field-message-text {
//     top: 32px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name {
//     left: 13px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name,
//   .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text {
//     font-size: 10px;
//     padding-left: 10px;
//   }
//   .form-textarea:not(#t):focus-within .form-field-message-text,
//   .form-textarea:not(#t).form-field-message-text {
//     left: 15px;
//     font-size: 10px;
//   }
// }
// @media screen and (max-width: 1919px) and (min-width: 1327px) {
//   .form-field:not(#t) .form-field-message-name,
//   .form-field:not(#t) .form-field-message-text {
//     font-size: 14px;
//     top: 2.3em;
//   }
// }
// // @media screen and (max-width:1326px) and (min-width: 1323px){
// // .form-field:not(#t) .form-field-message-name, .form-field:not(#t) .form-field-message-text {
// //     font-size: 14px;
// //     top: 1.5em;
// // }
// // }

// @media screen and (min-width: 1920px) {
//   .form-textarea:not(#t) textarea.form-field__input::placeholder {
//     // color: red;
//     font-size: 18px;
//   }
//   .form-field:not(#t) .form-field-message-name {
//     opacity: 1;
//     // transform: translateY(calc(0% - 5px));
//     // left: 25px;
//     top: 29px;
//     font-size: 18px;
//     transition: 0.3s ease-in-out;
//     pointer-events: none;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name {
//     position: absolute;
//     top: 0;
//     opacity: 1;
//     transform: translateY(calc(0% - 5px));
//     // left: 24px;
//     // background: #fcfcfc;
//     // padding: 0 7px;
//     // color: #878787;
//     font-size: 14px;
//   }

//   .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text,
//   .form-textarea:not(#t):focus-within .form-field-message-text,
//   .form-textarea:not(#t).form-field-message-text {
//     transform: translateY(calc(0% + 35px));
//     left: 24px;
//     font-size: 14px;
//   }
//   .form-field:not(#t) .form-field-message-text {
//     font-size: 18px;
//     // padding-top: 25px;
//     top: 25px;
//   }
//   .form-field:not(#t):focus-within .form-field-message-name,
//   .form-field:not(#t)[data-status='field--success'] .form-field-message-name,
//   .form-field:not(#t) textarea:not(:placeholder-shown) ~ .form-field-message-text {
//     font-size: 14px;
//   }
//   .form-field:not(#t) .form-field-message {
//     font-size: 18px;
//   }
//   .form-field:not(#t):focus-within .form-field-message {
//     font-size: 14px;
//   }
// }

// textarea {
//   resize: none;
// }
// .title-thank {
//   padding-top: 40px;
// }

// // !!!!!!!!!!!!!!!!!!!!
// // .sideform form .form-field__input {
// //   display: block;
// //   width: 100%;
// //   height: 100%;
// //   padding: 0 0 30px 0;
// //   background-color: inherit;
// //   font-family: 'MADE Evolve Sans', sans-serif;
// //   font-weight: 300;
// //   font-size: 20px;
// //   line-height: 140%;
// //   color: #65004a;
// // }

// .sideform form .form-field:not(#t) .place-holder-pop-up {
//   display: block;
//   height: 66px;
//   width: 50%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   cursor: text;
//   font-weight: 600;
//   font-size: 16px;
//   text-transform: uppercase;
//   color: #555568;
//   background: #eceae8;
//   border-bottom: 1px solid #d5d5e2;
//   // width: 50%;
//   padding-bottom: 40px;
//   @include to(1440px) {
//     font-size: 14px;
//     padding-bottom: 30px;
//     height: 58px;
//   }
//   @include to(575px) {
//     height: 51px;
//   }
// }
// // form of gratitude
// .backdrop {
//   width: 100vw;
//   height: 100vh;
//   background: rgba(255, 255, 255, 0.6);
//   position: fixed;
//   top: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   opacity: 0;
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   pointer-events: none;
//   z-index: 200;
// }
// .is-hidden-form {
//   opacity: 1;
//   pointer-events: all;
// }
// .modal-group {
//   position: relative;
//   width: auto;
//   display: flex;
//   flex-direction: column;
//   background: #eceae8;
//   // border: 1px solid #dbdbdb;
//   padding: 70px 90px 70px 90px;
//   transform: scale(1);
//   transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
//   @include to(575px) {
//     padding: 50px 25px 50px 25px;
//   }
// }
// .btn-submit-close {
//   right: 40px;
//   top: 40px;
//   @include to(575px) {
//     right: 30px;
//     top: 30px;
//   }
// }
// .form-btn {
//   text-decoration: none;
// }
// .header-submit-title {
//   width: 100%;
// }
