//- .content-menu.js-menu-container
//-   .content-menu-container
//-     .menu-header
//-       .menu-header-logo
//-         a(href='index.html')
//-           +svg('logo').logo
//-         include ../components/lang/lang.pug
//-         +svg('call').js-mobile-call
//-       .menu-header-close.js-menu-close
//-         p Закрити
//-         +svg('menu-close').close
//-     .menu-list 
//-       ul 
//-         li 
//-           a(href='index.html') Головна
//-         li 
//-           a(href='company.html') Про компанію
//-         li 
//-           a(href='vacancies.html') Вакансії
//-         li 
//-           a(href='cooperation.html') Співпраця
//-         li 
//-           a(href='projects.html') Проєкти
//-         li 
//-           a(href='news.html') Новини
//-         li 
//-           a(href='contacts.html') Контакти
//-       .Noise_root
//-     .menu-call 
//-       button(type='button').header-content-call.js-call Замовити дзвінок
//-       a(href='tel:+380442202220').header-content-tel (044) 220 22 20

