.popup-equipment(data-equip-popup)
  .horizontal-red 
  .vertical-red-left
  .popup-container
    .popup
      +svg('close').popup-close
      .swiper-container(data-detail-equip-swiper)
        .swiper-wrapper
          .swiper-slide.popup-img
            img(src="./assets/images/Laser-bar.png", alt="")
          .swiper-slide.popup-img
            img(src="./assets/images/Laser-bar.png", alt="")
          //- .swiper-slide.popup-img
          //-   img(src="./assets/images/Laser-bar.png", alt="")
          //- .swiper-slide.popup-img
          //-   img(src="./assets/images/Laser-bar.png", alt="")
          //- img(src="./assets/images/Laser-bar.png", alt="").swiper-slide
          //- img(src="./assets/images/Laser-bar.png", alt="").swiper-slide
      //- .popup-img
      .popup-button-prev
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle r="29.5" transform="matrix(-1.19249e-08 1 1 1.19249e-08 30 30)" fill="white" stroke="black"/>
          <rect x="28.5" y="25.5" width="3" height="3" transform="rotate(-180 28.5 25.5)" fill="black"/>
          <rect x="25.5" y="28.5" width="3" height="3" transform="rotate(-180 25.5 28.5)" fill="black"/>
          <rect x="22.5" y="31.5" width="3" height="3" transform="rotate(-180 22.5 31.5)" fill="black"/>
          <rect x="40" y="31" width="17.75" height="2" transform="rotate(-180 40 31)" fill="white" stroke="black"/>
          <rect x="25.5" y="34.5" width="3" height="3" transform="rotate(-180 25.5 34.5)" fill="black"/>
          <rect x="28.5" y="37.5" width="3" height="3" transform="rotate(-180 28.5 37.5)" fill="black"/>
        </svg>


      .popup-button-next
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="29.5" transform="rotate(90 30 30)" fill="white" stroke="black"/>
          <rect width="3" height="3" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 31.5 25.5)" fill="black"/>
          <rect width="3" height="3" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 34.5 28.5)" fill="black"/>
          <rect width="3" height="3" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 37.5 31.5)" fill="black"/>
          <rect x="0.5" y="-0.5" width="17.75" height="2" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 19.5 30.5)" fill="white" stroke="black"/>
          <rect width="3" height="3" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 34.5 34.5)" fill="black"/>
          <rect width="3" height="3" transform="matrix(1 -5.56363e-08 -5.56363e-08 -1 31.5 37.5)" fill="black"/>
        </svg>
      .popup-pagination
        p 
          span(data-current) 
          span(data-all) 
  .vertical-red-right
  .horizontal-red-bottom


