footer {
  background: $black;
  width: 100%;
  height: 100%;
  position: relative;
  // padding: 0 187px;
  .footer-content {
    display: flex;
    border-bottom: 1px solid #414141;
    &-left {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 50px 100px 100px 187px;
      border-right: 1px solid #414141;
      @include to(1440px) {
        padding: 40px 68px 80px 132px;
      }
      &-list {
        display: flex;
        flex-direction: column;
      }
      &-item {
        margin-bottom: 30px;
        @include to(1440px) {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        a {
          font-size: 36px;
          line-height: 100%;
          text-transform: uppercase;
          color: $white;
          text-decoration: none;
          overflow: hidden;
          position: relative;
          display: inline-block;
          --speed: 0.3s;
          --span-height: 1.1em;
          @include to(1440px) {
            font-size: 30px;
          }
          &:after {
            position: absolute;
            bottom: 100%;
            content: attr(data-text);
            left: 0%;
            white-space: nowrap;
            transition: var(--speed) ease;
            color: $red;
          }
          & span {
            transition: var(--speed) ease;
            display: inline-block;
          }
          &:hover:after {
            @include from(992px) {
              transform: translateY(var(--span-height));
            }
          }
          &:hover span {
            @include from(992px) {
              transform: translateY(36px);
            }
          }
        }
      }
      .download-link {
        font-size: 24px;
        line-height: 150%;
        height: 36px;
        text-decoration-line: underline;
        color: $white;
        transition: $transition-fuction;
        @include to(1440px) {
          font-size: 18px;
          height: 27px;
        }
        &:hover {
          @include from(992px) {
            color: $red;
          }
        }
      }
    }
    &-right {
      width: 50%;
      display: flex;
      justify-content: space-between;
      padding: 50px 357px 100px 30px;
      @include to(1440px) {
        padding: 40px 254px 80px 20px;
      }
      &-list {
        display: flex;
        flex-direction: column;
      }
      &-item {
        margin-bottom: 40px;
        @include to(1440px) {
          margin-bottom: 20px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        .title {
          font-size: 12px;
          line-height: 100%;
          text-transform: uppercase;
          color: #9d9d9d;
          margin-bottom: 15px;
          @include to(1440px) {
            font-size: 10px;
            margin-bottom: 10px;
          }
        }
        .description {
          font-size: 24px;
          line-height: 100%;
          color: $white;
          text-decoration: none;
          transition: $transition-fuction;
          @include to(1440px) {
            font-size: 18px;
          }
          &:hover {
            @include from(992px) {
              color: $red;
            }
          }
        }
        .distributor {
          font-size: 24px;
          line-height: 100%;
          color: $white;
          text-decoration: none;
          padding-bottom: 10px;
          @include to(1440px) {
            font-size: 18px;
          }
        }
      }
      .footer-social {
        h5 {
          font-size: 12px;
          line-height: 100%;
          text-transform: uppercase;
          color: #9d9d9d;
          margin-bottom: 15px;
          @include to(1440px) {
            font-size: 10px;
            margin-bottom: 10px;
          }
        }
        &-item {
          margin-bottom: 10px;
          a {
            font-size: 24px;
            line-height: 100%;
            color: $white;
            text-decoration: none;
            transition: $transition-fuction;
            @include to(1440px) {
              font-size: 18px;
            }
          }
          &:hover {
            @include from(992px) {
              a {
                color: $red;
              }
            }
          }
        }
      }
    }
    .arrow-up {
      position: absolute;
      top: 50px;
      right: 50px;
      width: 80px;
      height: 80px;
      cursor: pointer;
      // border: 1px solid #dadadc;
      // border-radius: 50%;
      @include to(1440px) {
        top: 40px;
        right: 40px;
        width: 60px;
        height: 60px;
      }
      .arrow {
        width: 20px;
        height: 28px;
        fill: $white;
        transition: $transition-fuction;
        animation: wiggleUp 2s linear infinite;
        @include to(1440px) {
          width: 15px;
          height: 21px;
        }
      }
      &:hover {
        @include from(992px) {
          border: none;
          .arrow {
            fill: $red;
          }
          .circle {
            stroke: $red;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;
            animation: stroke 0.7s ease-out forwards;
          }
        }
      }
    }
  }
}
@keyframes stroke {
  to {
    stroke-dashoffset: 0;
  }
  // @keyframes stroke {
  //   // 0%{
  //   //   stroke-dashoffset: 0;
  //   // }
  //   100% {
  //     stroke-dashoffset: 1;
  //   }
  //     0%{
  //     stroke-dashoffset: 0;
  //   }
  // }
}
.progress {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82px;
  height: 82px;
  @include to(1440px) {
    width: 62px;
    height: 62px;
  }
  .btn-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .circle {
      stroke: #dadadc;
      stroke-dasharray: 1000;
      stroke-dashoffset: 1000;
      stroke-dashoffset: 0;
      // animation: stroke 0.7s ease-out forwards;
    }
  }
}
.footer-form {
  width: 100%;
  padding: 50px 187px;
  border-bottom: 1px solid #414141;
  @include to(1440px) {
    padding: 40px 132px;
  }
  h3 {
    font-size: 64px;
    line-height: 120%;
    text-transform: uppercase;
    color: $white;
    width: 1048px;
    @include to(1440px) {
      font-size: 45px;
      width: 770px;
    }
  }
  .contact-form {
    margin-top: 30px;
    @include to(1440px) {
      margin-top: 20px;
    }
    .form-field {
      width: 870px;
      height: 89px;
      position: relative;
      @include to(1440px) {
        width: 610px;
        height: 64px;
      }
    }
    input {
      width: 100%;
      height: 100%;
      border: none;
      background: linear-gradient(90deg, #ffffff 50%, rgba(255, 255, 255, 0) 100%);
      filter: drop-shadow(0px 10px 0px #3b2121);
      padding-left: 46px;
      font-size: 30px;
      line-height: 100%;
      display: flex;
      align-items: center;
      color: $black;
      @include to(1440px) {
        padding-left: 30px;
        font-size: 24px;
      }
    }
    .form-button {
      background: none;
      border: none;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
      @include to(1440px) {
        padding-left: 30px;
        font-size: 24px;
      }
      .form-button-footer {
        width: 270px;
        height: 74px;
        @include to(1440px) {
          width: 192px;
          height: 52px;
        }
      }
      .btn-text {
        font-family: $default-font;
        font-weight: 700;
        font-size: 18px;
        line-height: 100%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -40%);
        transition: $transition-fuction;
        @include to(1440px) {
          font-size: 16px;
          top: 40%;
          left: 42%;
          transform: translate(-35%, -40%);
        }
      }
      .btn-submite {
        width: 100%;
        height: 100%;
      }
      .hover-fill {
        fill: $red;
        transition: $transition-fuction;
      }
      .hover-shadow {
        transition: $transition-fuction;
      }
      &:hover {
        @include from(992px) {
          .hover-fill {
            fill: $orange;
            transform: translate(0, 5px);
          }
          .hover-shadow {
            transform: translate(0, -5px);
          }
          .btn-text {
            transform: translate(-50%, -25%);
            @include to(1440px) {
              transform: translate(-35%, -25%);
            }
          }
        }
      }
    }
  }
}

.sticker {
  position: relative;
  grid-template-areas: 'text';
  place-items: center;
  font-size: 64px;
  line-height: 120%;
  text-transform: uppercase;
  color: $white;
  // font-family: 'Alegreya Sans SC', sans-serif;
  // font-weight: 900;
  // font-style: italic;
  // font-size: 180px;
  // text-transform: uppercase;
  // color: red;

  background: $white;
  -webkit-background-clip: text;
  // -webkit-text-fill-color: transparent;
  // -webkit-text-stroke: 0.01em rgba(0, 0, 0, 0.9);

  &::after {
    position: absolute;
    left: 4px;
    top: 3px;
    content: attr(data-text);
    color: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.4px $white;
    // z-index: -2;
  }
}

.footer-rights-reserved {
  width: 100%;
  padding: 40px 187px 0 187px;
  display: flex;
  justify-content: space-between;
  @include to(1440px) {
    padding: 40px 132px 0 132px;
  }
  .footer-rights {
    font-size: 18px;
    line-height: 140%;
    color: #9d9d9d;
    padding-top: 10px;
    @include to(1440px) {
      font-size: 16px;
    }
  }
  .icon--smarto {
    width: 78px;
    height: 85px;
    @include to(1440px) {
      width: 65px;
      height: 71px;
    }
  }
}

@keyframes wiggleUp {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.3em);
  }
  100% {
    transform: translateY(0);
  }
}
// .footer {
//   // background-image: url('../images/footer.svg');
//   // height: 100vh;
//   background: #f7f7f7;
//   background-size: cover;
//   background-repeat: no-repeat;
//   // padding-top: 130px;
//   width: 100%;
//   position: relative;
//   height: 100vh;
//   @include to(575px) {
//     height: auto;
//   }
//   .footer-ornament-mobile {
//     opacity: 1;
//     position: absolute;
//     height: 280px;
//     top: 0;
//     background: #efefef;
//     width: 100vw;
//     background: url('../images/footer-svg.svg') bottom repeat-x,
//       linear-gradient(rgba(239, 239, 239, 1), rgba(239, 239, 239, 1));
//     @include to(1920px) {
//       height: 250px;
//     }
//     @include to(1440px) {
//       height: 220px;
//       background: url('../images/1360.svg') bottom repeat-x,
//         linear-gradient(rgba(239, 239, 239, 1), rgba(239, 239, 239, 1));
//     }
//     @include to(850px) {
//       height: 220px;
//     }

//     @include to(575px) {
//       height: 130px;
//     }
//   }
// }
// .img-ornament-mobile {
//   @include to(1920px) {
//     width: 128px;
//     height: 128px;
//     stroke: rgb(255, 255, 255);
//   }
//   @include to(575px) {
//     width: 88px;
//     height: 88px;
//     stroke: rgb(255, 255, 255);
//   }
// }
// .footer-content {
//   // max-width: 1920px;
//   padding: 0 72px;
//   margin: 0 auto;
//   height: 100vh;
//   @include to(1440px) {
//     // max-width: 1326px;
//     padding: 0 50px;
//   }
//   @include to(850px) {
//     // max-width: 768px;
//     padding: 0 35px;
//     // height: 100%;
//   }
//   @include to(575px) {
//     height: auto;
//     padding: 180px 25px 170px 25px;
//   }
// }
// .form-title {
//   font-weight: 300;
//   // font-size: 48px;
//   font-size: min(vw(48, 1920), 64px);
//   text-transform: uppercase;
//   line-height: 1.2;
//   letter-spacing: -0.05em;
//   color: $main-text;
//   @include to(1440px) {
//     font-size: 36px;
//   }
//   @include to(850px) {
//     font-size: 24px;
//   }
//   @include to(575px) {
//     font-size: min(vw(16, 320), 18px);
//     // font-size: 16px;
//   }
// }
// .form {
//   // width: 840px;
//   // padding-top: 39vh;
//   padding-top: 310px;
//   display: flex;
//   justify-content: space-between;
//   @include to(1920px) {
//     padding-top: 330px;
//   }
//   @include to(1440px) {
//     padding-top: 290px;
//   }
//   @include to(850px) {
//     // padding-top: 33vh;
//     padding-top: 270px;
//   }
//   @include to(575px) {
//     flex-direction: column;
//     padding-top: 0;
//   }
// }
// .footer-form {
//   display: flex;
//   // align-items: center;
//   align-items: flex-start;
//   padding-top: 70px;
//   width: 90%;
//   @include to(1440px) {
//     padding-top: 60px;
//   }
//   @include to(850px) {
//     display: flex;
//     flex-direction: column;
//     align-items: flex-start;
//     padding-top: 0;
//   }
// }
// .footer-container-form {
//   width: 57%;
//   @include to(1920px) {
//     width: 60%;
//   }
//   @include to(1440px) {
//     width: 62%;
//   }
//   @include to(850px) {
//     width: 45%;
//   }
//   @include to(575px) {
//     width: 100%;
//   }
// }

// .link.footer-btn {
//   border: none;
//   background: #555568;
//   display: flex;
//   align-items: center;
//   text-transform: uppercase;
//   font-weight: 500;
//   // font-size: 12px;
//   font-size: min(vw(12, 1920), 16px);
//   line-height: 1;
//   color: $white;
//   width: 330px;
//   height: 70px;
//   // margin-left: 70px;
//   margin: 8px 0 0 70px;
//   white-space: nowrap;
//   text-decoration: none;
//   transition: all 0.4s ease-in-out;
//   justify-content: center;
//   &:hover {
//     background: #5c88da;
//   }
//   @include to(1920px) {
//     width: 220px;
//     height: 50px;
//     margin-top: 10px;
//   }
//   @include to(1440px) {
//     width: 840px;
//     width: 190px;
//     height: 36px;
//     font-size: 10px;
//     // margin-left: 50px;
//     margin: 14px 0 0 50px;
//   }
//   @include to(850px) {
//     margin-left: 0;
//     margin-top: 50px;
//     width: 265px;
//     height: 50px;
//     font-size: 16px;
//   }
//   @include to(575px) {
//     margin: 30px 0;

//     width: 220px;
//     height: 50px;
//     font-size: min(vw(10, 320), 12px);
//   }
// }
// .footer-contact {
//   margin-right: 200px;
//   @include to(1920px) {
//     margin-right: 90px;
//   }
//   @include to(850px) {
//     margin-right: 60px;
//   }

//   &-title {
//     // font-size: 24px;
//     font-size: min(vw(24, 1920), 30px);
//     line-height: 1.2;
//     text-transform: uppercase;
//     color: $main-text;
//     padding-bottom: 30px;
//     @include to(1440px) {
//       font-size: 16px;
//       padding-bottom: 20px;
//     }
//     @include to(850px) {
//       font-size: 24px;
//     }
//     @include to(575px) {
//       font-size: min(vw(14, 320), 16px);
//       padding-bottom: 20px;
//     }
//   }
//   & p {
//     // font-size: 18px;
//     font-size: min(vw(18, 1920), 24px);
//     line-height: 1.4;
//     color: #88889d;
//     @include to(1440px) {
//       font-size: 12px;
//     }
//     @include to(850px) {
//       font-size: 16px;
//     }
//     @include to(575px) {
//       font-size: min(vw(10, 320), 12px);
//     }
//   }
//   &-tel {
//     // font-size: 15px;
//     font-size: min(vw(18, 1920), 24px);
//     color: $main-text;
//     padding: 25px 0;
//     @include to(1920px) {
//       padding: 15px 0;
//     }
//     @include to(1440px) {
//       font-size: 14px;
//     }
//     @include to(850px) {
//       font-size: 16px;
//     }
//     @include to(575px) {
//       font-size: min(vw(10, 320), 12px);
//       padding: 10px 0;
//     }
//   }
// }
// .icon--up {
//   stroke: $main-text;
//   fill: none;
//   width: 60px;
//   height: 60px;
//   transition: all 0.4s ease-in-out;
//   &:hover {
//     stroke: $blue;
//   }
//   @include to(1440px) {
//     width: 40px;
//     height: 40px;
//   }
//   @include to(850px) {
//     width: 60px;
//     height: 60px;
//   }
//   @include to(575px) {
//     width: 46x;
//     height: 46px;
//   }
// }
// .icon--up:hover {
//   cursor: pointer;
// }
// .footer-line {
//   border: 1px solid #e8e8e8;
//   margin: 11% 0 50px 0;
// }
// .footer-rights-reserved {
//   display: flex;
//   justify-content: space-between;
//   flex-wrap: wrap;
//   border-top: 1px solid #e8e8e8;
//   padding-top: 100px;
//   position: absolute;
//   width: 100%;
//   left: 0;
//   padding: 50px 87px 0 180px;
//   /* border: 100px; */
//   bottom: 80px;
//   // @include to(850px) {
//   //   padding-bottom: 50px;
//   // }
//   // @include to(1560px) {
//   //   padding: 50px 50px 0 118px;
//   //   bottom: 50px;
//   // }
//   @include to(1440px) {
//     padding: 50px 50px 50px 118px;
//     bottom: 0;
//   }
//   @include to(850px) {
//     padding: 50px 35px 50px 35px;
//     bottom: 0;
//   }
//   @include to(575px) {
//     padding: 20px 25px;
//     bottom: 0;
//   }
// }
// .footer-rights {
//   // font-size: 14px;
//   font-size: min(vw(14, 1920), 16px);
//   line-height: 1.4;
//   letter-spacing: -0.05em;
//   color: #b2b2b2;
//   width: 170px;
//   @include to(1440px) {
//     font-size: 12px;
//     width: 130px;
//   }
//   @include to(850px) {
//     font-size: 14px;
//     width: 230px;
//     margin-left: 80px;
//   }
//   @include to(575px) {
//     font-size: 10px;
//     width: 110px;
//     margin-left: 0;
//   }
// }
// .ooter-rights-offer {
//   // font-size: 14px;
//   font-size: min(vw(14, 1920), 16px);
//   line-height: 1.4;
//   letter-spacing: -0.05em;
//   color: #b2b2b2;
//   width: 597px;
//   text-align: center;
//   @include to(1920px) {
//     width: 560px;
//   }
//   @include to(1440px) {
//     font-size: 12px;
//     width: 480px;
//   }
//   @include to(850px) {
//     font-size: 14px;
//     width: 100%;
//     padding: 3px calc(50% - 290px) 30px calc(50% - 290px);
//     order: -1;
//     text-align: center;
//   }
//   @include to(575px) {
//     font-size: 10px;
//     max-width: 500px;
//     padding: 0 0 20px 0;
//     // order: -1;
//     text-align: left;
//   }
// }
// .footer-dev {
//   font-size: min(vw(14, 1920), 16px);
//   line-height: 1.4;
//   letter-spacing: -0.05em;
//   color: #b2b2b2;
//   width: 135px;

//   @include to(1920px) {
//     width: 115px;
//   }
//   @include to(1440px) {
//     font-size: 12px;
//     width: 100px;
//   }
//   @include to(850px) {
//     font-size: 14px;
//     width: 130px;
//   }
//   @include to(575px) {
//     font-size: 10px;
//     width: 85px;
//   }
//   & a {
//     // text-decoration: none;
//     color: #b3b3b3;
//     margin-left: 5px;
//     transition: all 0.4s ease-in-out;
//     &:hover {
//       color: $blue;
//     }
//   }
// }
// .form-field:not(#t) .form-field__input.footer-field-input {
//   font-weight: 300;
//   // font-size: 56px;
//   font-size: 72px;
//   color: $main-text;
//   border: none;
//   position: relative;
//   // padding-top: 18px;
//   padding-bottom: 0;
//   @include to(1920px) {
//     // font-size: 48px;
//     font-size: 56px;
//   }
//   @include to(1440px) {
//     // font-size: 48px;
//     font-size: 50px;
//   }
//   @include to(850px) {
//     // font-size: 30px;
//     font-size: 32px;
//   }
// }

// .form-field:not(#t) .form-field-message.form-field-message-phone.footer-placeholder {
//   font-weight: 300;
//   // font-size: 56px;
//   font-size: 72px;
//   color: #b2b2b2;
//   position: absolute;
//   top: 35px;
//   left: 180px;
//   opacity: 1;
//   @include to(1920px) {
//     top: 33px;
//     left: 130px;
//     font-size: 56px;
//   }
//   @include to(1440px) {
//     // font-size: 48px;
//     font-size: 50px;
//   }
//   // @include to(1700px) {
//   //   left: 110px;
//   // }
//   // @include to(1500px) {
//   //   left: 107px;
//   //   top: 36px;
//   // }
//   // @include to(1312px) {
//   //   left: 105px;
//   //   top: 36px;
//   // }
//   @include to(1440px) {
//     font-size: 48px;
//     left: 107x;
//   }
//   @include to(850px) {
//     font-size: 30px;
//     left: 77px;
//     top: 37px;
//   }
//   @include to(575px) {
//     font-size: 30px;
//     top: 12px;
//   }
// }
// .footer-placeholder {
//   height: 1em;
// }

// .footer-placeholder {
//   pointer-events: none;
// }
// .form-field:not(#t) .form-field__input.footer-field-input {
//   width: 600px;
//   @include to(1920px) {
//     width: 480px;
//   }
//   @include to(850px) {
//     width: 265px;
//     margin-top: 40px;
//   }
//   @include to(575px) {
//     padding-top: 0;
//     height: 35px;
//     font-size: 30px;
//     margin-top: 30px;
//   }
// }

// .form-field:not(#t)
//   .form-field__input.footer-field-input:focus
//   + .form-field-message
//   .form-field-message-phone.footer-placeholder {
//   opacity: 0;
// }
// .footer-contact-container {
//   display: flex;
//   @include to(575px) {
//     justify-content: space-between;
//   }
// }

// // !!!!!!!!!!!!!
// .footer-content form .form-field:not(#t) .placeholder-footer {
//   display: block;
//   height: 100px;
//   width: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;
//   cursor: text;
//   font-weight: 300;
//   color: #555568;
//   background: #f7f7f7;
//   padding-top: 40px;
//   font-size: 72px;
//   @include to(1920px) {
//     font-size: 56px;
//     padding-top: 30px;
//   }
//   @include to(1440px) {
//     font-size: 48px;
//     padding-top: 22px;
//   }
//   @include to(850px) {
//     font-size: 30px;
//     padding-top: 52px;
//     height: 80px;
//     width: 260px;
//   }
//   @include to(575px) {
//     font-size: 30px;
//     padding-top: 37px;
//     height: 60px;
//   }
// }

// .placeholder-footer-grey {
//   color: #b3b3b3;
// }

// .footer-form .form-field:not(#t) {
//   margin: 0;
// }
// .footer-form .form-field:not(#t) {
//   @include to(1920px) {
//     width: 480px;
//   }
//   @include to(1440px) {
//     width: 400px;
//   }
// }
